<#@ include file="NumericTypes.txt" #>

namespace HonkPerf.NET.RefLinq;

public static partial class ActiveLinqExtensions
{
<#
        foreach (var type in types) {
#>
    public static <#= type #> Min<TEnumerator>(this RefLinqEnumerable<<#= type #>, TEnumerator> seq)
        where TEnumerator : IRefEnumerable<<#= type #>>
    {
        <#= type #> c = <#= type #>.MaxValue;
        foreach (var e in seq)
            c = Math.Min(c, e);
        return c;
    }
<#
        }
#>
}