<#@ include file="NumericTypes.txt" #>

namespace HonkPerf.NET.RefLinq;

public static partial class ActiveLinqExtensions
{
<#
        foreach (var type in types) {
#>
    public static <#= type #> Multiply<TEnumerator>(this RefLinqEnumerable<<#= type #>, TEnumerator> seq)
        where TEnumerator : IRefEnumerable<<#= type #>>
    {
        <#= type #> c = 1;
        foreach (var e in seq)
            c *= e;
        return c;
    }
<#
        }
#>
}